/*GENERAL SETTINGS*/
/*--FONTS--*/
@font-face{
	font-family: Raleway-Regular;
	src:url(../fonts/Raleway/raleway.regular.WOFF), url(../fonts/Raleway/raleway.regular.eot), url(../fonts/Raleway/raleway.regular.otf), url(../fonts/Raleway/raleway.regular.ttf);
	font-weight: 100;
}
@font-face {
	font-family:Raleway-Black;
	src:url(../fonts/Raleway/Raleway-Black.woff), url(../fonts/Raleway/Raleway-Black.eot),url(../fonts/Raleway/Raleway-Black.otf),url(../fonts/Raleway/Raleway-Black.ttf);
}
@font-face {
	font-family:Raleway-Medium;
	src:url(../fonts/Raleway/Raleway-Medium.woff),url(../fonts/Raleway/Raleway-Medium.otf), url(../fonts/Raleway/Raleway-Medium.eot), url(../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
	font-family:Raleway-Bold;
	src:url(../fonts/Raleway/raleway.bold.WOFF),url(../fonts/Raleway/raleway.bold.eot), url(../fonts/Raleway/raleway.bold.otf), url(../fonts/Raleway/raleway.bold.ttf);
}
@font-face {
	font-family:Raleway-SemiBold;
	src:url(../fonts/Raleway/raleway.semibold.WOFF), url(../fonts/Raleway/raleway.semibold.eot), url(../fonts/Raleway/raleway.semibold.otf), url(../fonts/Raleway/raleway.semibold.ttf);
}
@font-face {
	font-family:Raleway-ExtraBold;
	src:url(../fonts/Raleway/raleway-extrabold.WOFF), url(../fonts/Raleway/raleway.extrabold.eot), url(../fonts/Raleway/raleway.extrabold.otf), url(../fonts/Raleway/raleway.extrabold.ttf); 
}
@font-face {
	font-family:Raleway-Light;
	src:url(../fonts/Raleway/raleway.light.WOFF), url(../fonts/Raleway/raleway.light.eot), url(../fonts/Raleway/raleway.light.otf), url(../fonts/Raleway/raleway.light.ttf);
}
@font-face {
	font-family:Raleway-ExtraLight;
	src:url(../fonts/Raleway/raleway.extralight.WOFF), url(../fonts/Raleway/raleway.extralight.eot), url(../fonts/Raleway/raleway.extralight.otf), url(../fonts/Raleway/raleway.extralight.ttf);
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xi3n6e');
  src:  url('../fonts/icomoon.eot?xi3n6e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xi3n6e') format('truetype'),
    url('../fonts/icomoon.woff?xi3n6e') format('woff'),
    url('../fonts/icomoon.svg?xi3n6e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 65px;
  position: absolute;
  left:-75px;
  bottom:20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cleaning:before {
  content: "\e900";
}
.icon-computer:before {
  content: "\e901";
}
.icon-discount:before {
  content: "\e902";
}
.icon-handshake:before {
  content: "\e903";
}
.icon-meeting:before {
  content: "\e904";
}
.icon-time:before {
  content: "\e905";
}
.icon-meeting, .icon-discount{
	bottom:10px;
}

/*--END OF FONTS--*/
body{
	background-color: #f9f6d6;
}
.clearfix:after{
	content: '';
	display: block;
	clear:both;
}
.wrapper{
	max-width: 1280px;
	margin: 0 auto;
}
.inner-wrapper{
	max-width: 1130px;
	margin:0 auto;
}
.flex-container{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
h1,h2,h3{
	font-family: Raleway-Black;
}
h1{
	font-size: 24px;
	text-transform: uppercase;
}
h2{
	font-size: 38px;
}
h3{
	font-size:20px;
}
ul, li{
	font-family: Raleway-Light;
	font-size: 24px;
	color: #f3eebd;
} 
p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
/*--HEADER SETTINGS--*/
.header{
	background-color: #0c0105;
}
.header p{
	font-family: Raleway-Light;
	font-size: 20px;
	color: #f3eebd;
	margin: 20px 0 24px 0;
}
.dropdown, .social-top{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.dropdown{
	padding-right: 10px;
}
.drop-burger{
	width: 20px;
	border-top: 1px solid #d0caa1;
	position: relative;
	display: block;
	min-height: 16px;
	cursor: pointer;
}
.drop-burger:before, .drop-burger:after{
	content: '';
	display: block;
	position: absolute;
	border-top: 1px solid #d0caa1;
	width: 20px;
}
.drop-burger:before{
	top:5px;
}
.drop-burger:after{
	top:12px;
}
.drop-menu-items{
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	list-style: none;
	z-index: 1;
	top:70%;
	left:-65px;
	padding-left: 0;
	transition: 1s;
}
.dropdown a{
	color: #d0caa1;
}
.dropdown li{
	display: block;
	padding: 20px 60px 20px 60px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.dropdown li:hover{
	color: #f6f1bf;
	background: rgba(0, 0,0,0.8);
	border-top: 1px solid #f6f1bf;
	border-bottom: 1px solid #f6f1bf;
}
.dropdown a:last-child>li{
	padding-bottom: 20px;
}
.dropdown:hover .drop-menu-items{
	display: block;
}
.social-top{
	color: #d0caa1;
	font-size: 24px;
}
.social-top>a{
	color: #d0caa1;
	text-decoration: none;
	margin-right: 39px;
	transition: 1s;
}
.social-top>a:last-child{
	margin-right: 0;
}
.social-top>a:hover{
	color:#f6f1bf;
}
/*--HEADER END--*/
/*--INTRO SECTION--*/
.intro{
	background: url(../images/BannerBack.jpg) 100% no-repeat;
	min-height: 680px;
	color: #f6f1bf;
	position: relative;
}
.sidebar{
	float:right;
	text-align: center;
	margin-top: 40px;
	max-width: 230px;
}
.sidebar h3{
	margin-top: 0;
}
.sidebar form{
	background-color: rgba(255, 224, 146, 0.8);
	padding: 30px 0;
}
.sidebar h4{
	font-family: Raleway-ExtraBold;
	font-size: 22px;
	text-transform: uppercase;
	color: #2e1810;
}
.sidebar input{
	margin: 5px 0 5px 0;
	padding-left:8px; 
	height: 32px;
}
.sidebar button{
	height: 50px;
	width: 165px;
	font-size: 32px;
	color: #fff;
	font-family: Raleway-Black;
	background-color: #84bdd1;
	border-style: none;
	cursor: pointer;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
	transition: 1s;
	text-transform: uppercase;
	margin-top: 15px;
}
.sidebar button:hover{
	box-shadow: 5px 5px 7px rgba(0,0,0,0.6);
}
#toNextSection{
	background: #f6f1bf;
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 95%;
  	left: 50%;
  	transform: translate(-50%, -50%) rotate(45deg);
}
#toNextSection span{
	display: block;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	height: 10px;
	width: 10px;
	margin: 5px;
}
#toNextSection:after{
	content: '';
	display: block;
	position: absolute;
	width: 253px;
    top: -89px;
    left: -19px;
	border-top: 1px solid #f6f1bf;
	transform: rotate(-45deg);
}
#toNextSection:before{
	content: '';
	display: block;
	position: absolute;
    width: 253px;
    top: 108px;
    right: -19px;
	border-top: 1px solid #f6f1bf;
	transform: rotate(-45deg);
}
/*--END INTRO SECTION --*/
/*-- ADVANTAGES SECTION --*/
.advantages{
	padding-top: 28px;
	background: url(../images/WhyUsBack.jpg) 100% no-repeat;
}
.sec_title{
	text-align: center;
	font-size: 38px;
	font-family: Raleway-Medium;
	text-transform: uppercase;
	color: #636259;
	max-width: 242px;
	margin: 0 auto;
	border: 3px solid #626262;
	position: relative;
}
.sec_title:before, .sec_title:after{
	content: '';
	display: block;
	position: absolute;
	min-width: 170px;
	border-top: 1px solid #626262;
}
.sec_title:before{
	top:50%;
	left: -145px;
}
.sec_title:after{
	top:50%;
	right: -145px;
}
.sec_title span{
	font-family: Raleway-SemiBold;
	font-size: 47px;
	color: #000;
}
.sec_adv{
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}
.sec_adv blockquote{
	padding-left: 2%;
    padding-bottom: 6%;
}
.sec_adv h3{
	font-family: Raleway-SemiBold;
	font-size: 48px;
	color: #3c0a0d;
	text-align: right;
	position: relative;
}
.sec_adv h3:after, .sec_adv h3:before{
	content: '';
	display: block;
	min-width: 42px;
	min-height: 35px;
}
.sec_adv h3:after{
	background-image: url(../images/quote_r.png);
	position: absolute;
	right:-10px;
	bottom:-45px;
}
.sec_adv h3:before{
	background-image: url(../images/quote_l.png);
	position: absolute;
	left: 45px;
    top: -25px;
}
.adv_items{
	max-width: 40%;
	list-style:none;
	flex-wrap: wrap;
	padding-left: 0;
}
.adv_items li{
	font-family: Raleway-Medium;
	font-size: 19px;
	color: #242322;
	min-width: 196px;
	min-height: 66px;
	margin: 50px 0;
	position: relative;
}
.adv_items li:before, .adv_items li:after{
	content: '';
	display: block;
	width: 130px;
	height: 130px;
	position: absolute;
}
.adv_items li:before{
	border-left: 1px solid #6a6a6a;
	right:35%;
	bottom:5%;
}
.adv_items li:after{
	right:40%;
	border-top: 1px solid #6a6a6a;
}
.adv_items li:nth-of-type(3):before, .adv_items li:nth-of-type(4):before{
	bottom:-30%;
}
.adv_items li:nth-of-type(3), .adv_items li:nth-of-type(4){
	margin-bottom: 90px;
}
/*--END OF ADVANTAGES--*/
/*--OFFICES SECTION--*/
.office {
	background: url(../images/Office_1_back.jpg);
	color: #fff;
}
.office:nth-of-type(2){
	background: url(../images/Office_2_Back.jpg);
}
.office:nth-of-type(3){
	background: url(../images/Office_3_Back.jpg);
}
.office p{
	font-family: Raleway-Medium;
	font-size: 23px;
}
.office a{
	float:right;
	font-family: Raleway-SemiBold;
	font-size: 18px;
	color: #fff;
	position: relative;
}
.office a:before, .office a:after{
	content: '';
	display: block;
	position: absolute;
}
.office a:before{
	height: 7px;
	width: 7px;
	transform: rotate(225deg);
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	right:-15px;
	top:6px;
}
.office a:after{
	width: 15px;
	border-top: 1px solid #fff;
	top:9px;
	right:-15px;
}
.switch-right{
	float:right;
	max-width: 455px;
	margin-right:25px;
}
.switch-left{
	float:left;
	max-width: 455px;
	margin-left: 25px;
}
.office_info{
	max-width: 365px;
	border: 3px solid #f8f5d6;
	color: #fff;
	font-size: 38px;
	font-family: Raleway-Black;
	margin: 60px auto 20px auto;
}
.office_info:after, .office_info:before{
	min-width: 55px;
	border-top: 1px solid #f8f5d6;
}
.office_info:after{
	right: -40px; 
}
.office_info:before{
	left: -40px;
}
.office button{
	display: block;
	height: 70px;
	width: 265px;
	background-color:#d8c8c9;
	font-size: 38px;
	text-align: center;
	font-family: Raleway-Black;
	border-style: none;
	cursor: pointer;
	margin: 50px auto 40px auto;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
	transition: 0.5s;
}
.office button:hover{
	box-shadow: 5px 5px 7px rgba(0,0,0,0.6);
}